/* ========================================================================== */
/* ================================= FOOTER ================================= */
/* ========================================================================== */
.footer {
    width: 100vw;
    padding: 0px 0px 25px;
    color: var(--text);
    margin-top: 25px;
}

.footer-container {
    margin-top: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: var(--main-font);
}

/* ========================================================================== */
/* ============================== FOOTER LINKS ============================== */
/* ========================================================================== */
.footer-links-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-link {
    font-size: 1.5rem;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.footer-link:hover {
    cursor: pointer;
    color: var(--highlight);
}

.footer-email-icon:hover,
.footer-github-icon:hover,
.footer-linkedin-icon:hover,
.footer-facebook-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--highlight);
}

.footer-quick-link-icons-container {
    /* width: calc(12.5% - 7%); Revert back to 12.5% if the emailicon and github icon are added back */
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-text-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--main-font);
    color: var(--body-text);
    opacity: 0.6;
    font-size: 0.8rem;
}

/* ============================== MEDIA QUERIES ============================= */
@media (max-width: 1000px) {
    .footer-text-container {
        margin-top: 10px;
    }
}

@media (max-width: 500px) {
    .footer-container {
        flex-direction: column;
        gap: 15px;
        
    }

    .footer-links-container {
        width: 80%;
    }

    .footer-email-icon,
    .footer-github-icon,
    .footer-linkedin-icon,
    .footer-facebook-icon {
        transform: scale(1.3);
    }

    .footer-text-container {
        margin-top: 20px;
    }
}


@media (max-width: 350px) {
    .footer-link {
        font-size: 1.25rem;
    }
}