.personal-website-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
}

/* ========================================================================== */
/* ========================= PERSONAL WEBSITE TITLE ========================= */
/* ========================================================================== */
.personal-website-title-container {
    padding: 80px 20px 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.personal-website-title {
    font-size: 7rem;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--body-text);
    text-transform: uppercase;
}

.underline {
    display: flex;
    justify-content: center;
}
  
.divider-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.small-circle {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background-color: var(--highlight);
    position: relative;
    margin: 0px 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--highlight);
    position: relative;
}

.circle:hover {
    animation: circle-squish 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes circle-squish {
    0% {
        transform: rotate3d(1, 0, 0, 0deg) scale(1);
    }
    33% {
        transform: rotate3d(1, 0.5, 0.5, 45deg) scaleX(0.8) scaleY(1.5);
    }
    66% {
        transform: rotate3d(1, -1, 0, 30deg) scaleX(1.5) scaleY(0.8);
    }
    100% {
        transform: rotate3d(1, 0, 0, 0deg) scale(1);
    }
}

/* ============================== MEDIA QUERIES ============================= */
@media (max-width: 1150px) {
    .personal-website-title-container {
        width: 80%;
    }
}

@media (max-width: 860px) {
    .personal-website-title-container {
        padding: 40px 20px 30px;
    }

    .personal-website-title {
        font-size: 5rem;
    }
}

@media (max-width: 640px) {
    .personal-website-title-container {
        width: 90%;
        padding: 20px 20px 30px;
    }

    .personal-website-title {
        font-size: 4rem;
    }
}

@media (max-width: 470px) {
    .personal-website-title-container {
        width: 100%;
    }

    .personal-website-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 380px) {
    .personal-website-title {
        font-size: 2.9rem;
    }
}

/* ========================================================================== */
/* ============================ MAIN INFORMATION ============================ */
/* ========================================================================== */
.personal-website-content-information {
    width: 70%;
    margin-top: 30px;
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    color: var(--body-text);
    font-weight: 400;
}

.personal-website-content {
    margin-bottom: 30px;
}

.figma-design-image {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.figma-design-image:hover {
    transform: scale(1.02);
}

.figma-design-caption {
    font-family: var(--main-font);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

/* ============================== MEDIA QUERIES ============================= */
@media (max-width: 500px) {
    .personal-website-content-information {
        font-size: 1.1rem;
    }

    .figma-design-caption {
        font-size: 1.5rem;
    }
}

/* ========================================================================== */
/* ================================= ICONS ================================== */
/* ========================================================================== */
.items-used-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 80%;
}

.icon {
    width: 60px;
}

/* ============================== MEDIA QUERIES ============================= */
@media (max-width: 500px) {
    .icon {
        width: 60px;
    }
}